<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      <div class="copyright">
        <a href="https://github.com/akimabs/dev" style="text-decoration:none">© {{ now.Year }} Akimabs </a>
        <a href="https://us.umami.is/share/Zo5zAENM5bELk3dB/akimabs.dev" style="text-decoration:none">Analytics</a>
      </div>
    {{ end }}
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}
{{ $theme := resources.Get "js/theme.js" | js.Build }}
{{ $bundle := slice $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify }}
<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

{{- partial "extended_footer.html" . }}

